*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; 
}

html, 
body,
#wrapper,
.viewport {
	width:100%;
	height:100%;
}

body {
  background-image: url("./../img/bg-3d.png");
  background-size: 100%;
  font-family: 'HelveticaNeue-Light', 'Helvetica Neue Light', 'Helvetica Neue', Helvetica, Arial, 'Lucida Grande', sans-serif;
}

#wrapper {
  padding-top: 10%; 
  height: 90%;
}

.viewport {
  -webkit-perspective: 1200px;
  -moz-perspective: 1200px;
  -ms-perspective: 1200px;
  -o-perspective: 1200px;
  perspective: 1200px;
  -webkit-perspective-origin: 50% 600px;
  -moz-perspective-origin: 50% 600px;
  -ms-perspective-origin: 50% 600px;
  -o-perspective-origin: 50% 600px;
  perspective-origin: 50% 600px;
  -webkit-transform: scale(0.8, 0.8);
  -moz-transform: scale(0.8, 0.8);
  -ms-transform: scale(0.8, 0.8);
  -o-transform: scale(0.8, 0.8);
  transform: scale(0.8, 0.8);
  -webkit-box-reflect: below 30% -webkit-gradient(linear, left top, left bottom, from(transparent), color-stop(0%, transparent), to(rgba(250, 250, 250, 0.4))); }

.cube {
	position: relative;
	margin: 0 auto;
	height: 600px;
	width: 600px;
	-webkit-transform-style: preserve-3d;
	-moz-transform-style: preserve-3d;
	-ms-transform-style: preserve-3d;
	-o-transform-style: preserve-3d;
	transform-style: preserve-3d;
	-webkit-transform: rotateX(360deg) rotateY(0deg);
	-moz-transform: rotateX(360deg) rotateY(0deg);
	-ms-transform: rotateX(360deg) rotateY(0deg);
	-o-transform: rotateX(360deg) rotateY(0deg);
	transform: rotateX(360deg) rotateY(0deg); 
}

.cube > .side {
  overflow: hidden;
  position: absolute;
  opacity: 0.6;
  height: 100%;
  width: 100%;
  -webkit-touch-callout: none;
  -moz-touch-callout: none;
  -ms-touch-callout: none;
  -o-touch-callout: none;
  touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none; 
  -webkit-box-shadow: inset 0px 0px 5px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: inset 0px 0px 5px 0px rgba(0,0,0,0.75);
  box-shadow: inset 0px 0px 5px 0px rgba(0,0,0,0.75);
}

.cube .side {
	background-image: url("./../img/bg.jpg");
	background-size: 100%;
}

.cube > div:first-child {
  -webkit-transform: rotateX(90deg) translateZ(300px);
  -moz-transform: rotateX(90deg) translateZ(300px);
  -ms-transform: rotateX(90deg) translateZ(300px);
  -o-transform: rotateX(90deg) translateZ(300px);
  transform: rotateX(90deg) translateZ(300px);
  outline: 1px solid transparent; 
}

.cube > div:nth-child(2) {
  -webkit-transform: translateZ(300px);
  -moz-transform: translateZ(300px);
  -ms-transform: translateZ(300px);
  -o-transform: translateZ(300px);
  transform: translateZ(300px);
  outline: 1px solid transparent; 
}

.cube > div:nth-child(3) {
	-webkit-transform: rotateY(90deg) translateZ(300px);
	-moz-transform: rotateY(90deg) translateZ(300px);
	-ms-transform: rotateY(90deg) translateZ(300px);
	-o-transform: rotateY(90deg) translateZ(300px);
	transform: rotateY(90deg) translateZ(300px);
	outline: 1px solid transparent; 
}

.cube > div:nth-child(4) {
	-webkit-transform: rotateY(180deg) translateZ(300px);
	-moz-transform: rotateY(180deg) translateZ(300px);
	-ms-transform: rotateY(180deg) translateZ(300px);
	-o-transform: rotateY(180deg) translateZ(300px);
	transform: rotateY(180deg) translateZ(300px);
	outline: 1px solid transparent; 
}

.cube > div:nth-child(5) {
	-webkit-transform: rotateY(-90deg) translateZ(300px);
	-moz-transform: rotateY(-90deg) translateZ(300px);
	-ms-transform: rotateY(-90deg) translateZ(300px);
	-o-transform: rotateY(-90deg) translateZ(300px);
	transform: rotateY(-90deg) translateZ(300px);
	outline: 1px solid transparent; 
}

.cube > div:nth-child(6) {
	-webkit-transform: rotateX(-90deg) rotate(180deg) translateZ(300px);
	-moz-transform: rotateX(-90deg) rotate(180deg) translateZ(300px);
	-ms-transform: rotateX(-90deg) rotate(180deg) translateZ(300px);
	-o-transform: rotateX(-90deg) rotate(180deg) translateZ(300px);
	transform: rotateX(-90deg) rotate(180deg) translateZ(300px);
	outline: 1px solid transparent; 
}

.cube .layer {
	background: none !important;
	opacity: 1 !important;
	box-shadow: none !important;
}

object {
  opacity: 0.5; 
}

object:hover {
  opacity: 1; 
}

@media (max-width: 1600px) {
  .viewport {
    -webkit-transform: scale(0.6, 0.6);
    -moz-transform: scale(0.6, 0.6);
    -ms-transform: scale(0.6, 0.6);
    -o-transform: scale(0.6, 0.6);
    transform: scale(0.6, 0.6); 
	} 
}

