.desktop {
	position: fixed;
	width: 100%;
	height: 100%;
	z-index: 100;
}

.board {
	display: none;
	position: absolute;
	width: 100%;
	height: 100%;
	float: left;
	z-index: 100;
	background-image: url("./../img/bg.jpg");
 	background-size: 100%;
	transition: all 0.5s ease-in-out;
	overflow: hidden;
}

.side .board ,
.board.current {
	display:block;
}

.toolbar {
	position: absolute;
	bottom: 0px;
	left: 33%;
	width: 30%;
	height: 10%;
	z-index: 100000;
}

.pedestal {
	background: #000;
	opacity: 0.7;
	width: 100%;
	height: 110%;
	margin-bottom: 0px;
	padding: 0px;
	position: absolute;
	-webkit-transform: perspective(200px) rotateX(40deg); 
	-moz-transform: perspective(200px) rotateX(40deg); 
	-ms-transform: perspective(200px) rotateX(40deg); 
	-o-transform: perspective(200px) rotateX(40deg); 
	transform:perspective(200px) rotateX(40deg);
	z-index: -1;
}

.toolbar .tool {
	z-index: 100;
	position: absolute;
	width: 100%;
	height: 90%;
	padding-left: 2%;
	padding-right: 2%;
}

.toolbar img {
	z-index: 100;
	float: left;
	width: 15%;
	margin-left: 4%;
	margin-right: 4%;
	height: 100%;
	cursor: pointer;
	transition: all 0.2s ease-in-out;
}

.toolbar img:hover {
	width: 19%;
	height: 120%;
	margin-left: 2%;
	margin-right: 2%;
	margin-top: -2%;
}

.dialog {
	position: absolute;
	top: 5%;
	left: 10%;
	width: 30%;
	height: 40%;
	background: #ececec;
	opacity: 1;
	z-index: 0;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
	box-shadow: 0px 3px 4px #000;
} 

.dialog .head {
	height: 8%;
	width: 100%;
	float: left;
	cursor: move;
    	cursor: -moz-move;
    	cursor: -webkit-move;
	background: #1b1b1b;
	-webkit-border-top-right-radius: 8px;
	-webkit-border-top-left-radius: 8px;
	-moz-border-radius-topright: 8px;
	-moz-border-radius-topleft: 8px;
	border-top-right-radius: 8px;
	border-top-left-radius: 8px;
}

.dialog .head span {
	float: right;
	font-weight: bold;
    	color: #fff;
	margin: 1px;
    	padding: 3px;
    	padding-left: 5px;
    	padding-right: 5px;
	margin-left: 3px;
    	cursor: pointer;
	-webkit-border-top-right-radius: 8px;
	-moz-border-radius-topright: 8px;
	border-top-right-radius: 8px;
}

.dialog .head span:hover {
	background: #3b3b3b;
	-webkit-box-shadow: inset 0px 0px 5px 0px rgba(0,0,0,0.75);
	-moz-box-shadow: inset 0px 0px 5px 0px rgba(0,0,0,0.75);
	box-shadow: inset 0px 0px 5px 0px rgba(0,0,0,0.75);
}

.dialog .head .close {
	font-size: 19px;
	padding-top: 0px;
}

.dialog .content {
	float: left;
	width: 100%;
	height: 92%;
	-webkit-border-top-right-radius: 8px;
	-moz-border-radius-topright: 8px;
	border-top-right-radius: 8px;
}

.dialog .content > * {
	float: left;
	transition: all 0.5s ease-in-out;	
}

.dialog .player {
	height: 100%;
	width: 100%;
	background: #1b1b1b;
}

.dialog .player video {
	height: 90%;
	width: 100%;
	padding-left: 5px;
	padding-right: 5px;
	background: #1b1b1b;
}

.dialog .player .buttons {
	margin: 0 auto;
	width: 20%;
	height: 10%;
}

.dialog .buttons img {
	width: 40%;
	float: left;
	height: 90%;
	padding: 5%;
	cursor: pointer;
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	border-radius: 6px;
}

.dialog .buttons img:hover {
	background: #0b0b0b;
}

.dialog .content .title {
	width: 100%;
	padding: 10px;
    	font-size: 100%;
	font-weight: bold;
}

.dialog .content  span {
	width: 100%;
	font-size: 80%;
	padding: 10px;
}

.clone {
	position: relative;
}
